html, body 
{
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#hero-carousel 
{
   height: 66vh;
   width: 100vw;
   overflow: hidden;

   -webkit-filter: drop-shadow(5px 5px 5px #222);
   filter: drop-shadow(5px 5px 5px #222);
}

.carousel-inner > .item > img 
{
    max-width: 100vw;
}

#map 
{
	height: 60vh;
	width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}

div.post-container
{
    padding: 1vh 1vw 1vh 1vw;
    height: 50vh;
}

div.nav-bar
{
    text-align: center;
    padding: 4vh 0vw 4vh 0vw;
    background-color: white;
}

div.card
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

div.excerpt-container
{
    padding: 20px 20px 20px 20px;
}

.fa 
{
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover 
{
    opacity: 0.9;
}
