html, body 
{
    max-width: 100%;
    overflow-x: hidden;
}

#map 
{
	height: 50vh;
	width: 100%;
}

div.post-container
{
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 50vh;
}

div.nav-bar
{
    text-align: left;
    padding: .75vh 1vw .75vh 0vw;
}

.fa 
{
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover 
{
    opacity: 0.9;
}