.hero
{
    width: 100vw;
}

.black
{
    color: black;
}

.model-1
{
    max-height: 100vh;
}

.framework
{
    max-height: 100vh;
    border-radius: 25px;
}

.sketchfab-container
{
    max-height: 75vh;
}