html
{
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}

body
{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 90px; /* Margin bottom by footer height */
    background: #E9ECEF;
}

.navbar
{
    background-color: #E9ECEF;
    margin-bottom: 20px;
}

/* unvisited link */
a:link {
    color: #8A8A8A;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: black;
    text-decoration: underline;
}

.hero
{
    width: 100vw;
}

.black
{
    color: black;
}

.model-1
{
    max-height: 100vh;
}

.framework
{
    max-height: 100vh;
    border-radius: 25px;
}

.body-text
{
    padding-left: 5vw;
    padding-right: 5vw;
}

/* Glyph, by Harry Roberts */

hr.style-eight 
{
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after 
{
    content: "Z";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #E9ECEF;
}

.background-color
{
    background-color: #E9ECEF;
}

.footer 
{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    line-height: 90px; /* Vertically center the text there */
    background-color: #E9ECEF;
    color: black;
}