html, body 
{
  
}

.fa:hover
{
    opacity: 0.9;
}

.center
{
    text-align: center;
}

.custom-card 
{
    min-width: 100%;
    min-height: 200px;
    display: flex;
    overflow-x: auto;
}

.custom-card::-webkit-scrollbar 
{
    display: none;
}

.card--content 
{
    min-width: 400px;
    margin: 5px;
}