---
---

<!DOCTYPE html>

<title> FAQs About PMing </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include goog-analytics.html %}
{% include header.html %}

<link rel="stylesheet" type="text/css" href="/css/main.css">

<br>

<div class="m-3">
	
	<h1> Common Google PM Questions </h1>
	<h2> 2020 </h2>

	<br>

	<p class="body-text"> Hey there! I’m so happy we connected. If you reached out to learn more about PM'ing / PM'ing at Google, before we find time to chat, please checkout the FAQs below. If there's a question that isn’t answered here, or you just want to hang out/chat: I'd love to! It's great getting to know folks in different industries or @ other companies and learning about what they do. I’m also always open for mentorship conversations w/ undergrads, especially those from Duke :) </p>

	<p class="body-text"> Please drop me a line at icz@google.com and I’ll find us some time! </p></p>

	<!-- start separator -->

	<br> <hr class="style-eight"> <br>

	<!-- end separator -->

	<p class="body-text"> <i> Disclaimer: all opinions here are my own, not those of my employer. All resources and links are ones I’ve personally found and should not be perceived as official recommendations from my employer unless explicitly marked as such. </i> </p> 

	<!-- start separator -->

	<br> <hr class="style-eight"> <br>

	<!-- end separator -->

	<p class="body-text"> <h5 class="body-text"> Can you refer me to X position at Google? </h5> </p>

	<p class="body-text"> Yes, provided you are in one of the 3 buckets below: <br> 

	<br> Someone I’ve worked with <br>
	Someone I know personally <br>
	Someone I’ve been introduced to by someone I trust in bucket a or b <br>

	<br> No need to schedule a call here, just send me your resume and I’ll get the referral started. </p>

	<p class="body-text"> <h5 class="body-text"> What’s life as a Google PM like? How do I become a competitive candidate for a Google PM position? </h5> </p>

	<p class="body-text"> Checkout the resources already available online, here are some I personally found by Googling: <br> 

	<br> <a href="https://medium.com/@stervy/day-in-the-life-of-a-google-product-manager-3eb6d34a6904" target="_blank"> Day in the Life of a Google PM </a> <br>
	<a href="https://productschool.com/blog/product-management-2/responsibilities-product-manager-google-pm/?utm_source=quora&utm_medium=forum_answer&utm_campaign=" target="_blank"> What are the responsibilities of a PM at Google </a> <br>
	<a href="https://www.quora.com/What-is-it-like-to-work-as-a-PM-Product-Manager-at-Google" target="_blank"> What is it like to work as a PM at Google </a> <br>
	<a href="https://www.quora.com/Whats-a-typical-day-like-for-a-product-manager-at-Google" target="_blank"> What’s a typical day like for a product manager at Google </a> <br>
	<a href="https://www.youtube.com/watch?v=B1-PIkT9VVU" target="_blank"> Day in the life of a Google PM [YouTube] </a> <br>
	<a href="https://www.businessinsider.com/day-in-the-life-google-director-of-product-management-lilian-rincon-2018-11#lilian-rincon-is-the-senior-director-of-product-management-for-the-google-assistant-she-runs-a-team-of-about-20-at-googles-headquarters-in-mountain-view-california-with-more-team-members-around-the-world-1" target="_blank"> A day in the life of a Google senior director </a> <br>

	<br> Work backwards from the “day in the life” skills you identify and you’ll have your answer on how to be as competitive of an applicant as possible :) </p>

	<p class="body-text"> <h5 class="body-text"> How do I become a competitive candidate for the Google APM program? </h5> </p>

	<p class="body-text"> Checkout the resources already available online, here are some I personally found by Googling: <br> 

	<br> <a href="https://careers.google.com/programs/apm/" target="_blank"> Google Associate Product Manager </a> <br>
	<a href="https://productschool.com/blog/product-management-2/jobs-cat/everything-google-associate-product-manager-program-apmp/?utm_source=quora&utm_medium=forum_answer&utm_campaign=" target="_blank"> Everything about the APM program </a> <br>
	<a href="https://igotanoffer.com/blogs/product-manager/google-associate-product-manager-interview" target="_blank"> Google APM Interview </a> <br>
	<a href="https://www.quora.com/How-do-I-apply-to-the-Google-APM-program" target="_blank"> How do I apply to the Google APM program <br> </a> </p>

	<p class="body-text"> <h5 class="body-text"> What is the Google PM interview process like? </h5> </p>

	<p class="body-text"> Your recruiter should provide all the resources you need to be successful for your interview. 

	Personally, I found that getting in case question practice with other aspiring Google PMs was the best preparation. Join a Slack group, or find experienced PM mentors who can run through a few questions with you. 

	If you’re not yet in the pipeline or just want to start learning more, checkout the resources already available online. Here are some I personally found by Googling: <br>

	<br> <a href="https://igotanoffer.com/blogs/product-manager/google-product-manager-interview" target="_blank"> Google PM Interview </a> <br>
	<a href="https://productschool.com/blog/product-management-2/interview/interview-product-manager-google/" target="_blank"> Prepare for a PM interview at Google </a> <br>
	<a href="https://medium.com/open-product-management/my-google-interview-experience-2016-62b8a08f1071" target="_blank"> The Google PM Interview Process </p> </a> </p>

	<p class="body-text"> <h5 class="body-text"> Can you mock a few interview questions with me? </h5> </p>

	<p class="body-text"> Absolutely, provided you are headed on site and the mock interviewer your recruiter recommended is not available. </p>

	<p class="body-text"> <h5 class="body-text"> What’s your favorite part about working at Google? </h5> </p>

	<p class="body-text"> I’ve never felt more taken care of as an employee -- there’s immense investment in your career and your personal development. High quality mentorship is readily available at all levels and the management team is well-trained. The PM managers I’ve had go to bat for you and have your back both with XFN and in managing upwards. 

	Also, the quality of my colleagues is unparalleled; I’ve never worked with such competent, intelligent, hard-working, and approachable teammates. VPs who own billions in revenue are always there to chat and provide guidance. Leaders at the top of their fields in engineering and research, who have created world-changing products, computing platforms and languages, are side by side with you on the same team. There’s a true “one google” sentiment that exudes from almost everyone at the company, and collaborative work is expected. </p>

	<p class="body-text"> <h5 class="body-text"> What’s your least favorite part about working at Google? </h5> </p>

	<p class="body-text"> Google is a grassroots company, which 90% of the time is really great as a PM. No matter your level, you get to shape strategy at a fundamental level, influencing the direction of industry-wide initiatives. However, that also means on some days you feel like you’re in an endless cycle of evangelization and cat herding -- constantly gathering alignment from XFN stakeholders, new teammates, changing executives, etc. </p>

	<p class="body-text"> <h5 class="body-text"> What teams have you worked on at Google and how do they compare with one another? </h5> </p>

	<p class="body-text"> I started off at YouTube on the monetization team, working on privacy and measurement. That was such a great experience because it was the first scaled PM role I’ve ever had, with billions of users and watch hours where the slightest tweak meant massive impacts to revenue and watch time. Metrics were king and negotiations with major partners were frequent and complex. </p>

	<p class="body-text"> Now I’m on the Augmented Reality team, working on giving humans superpowers! We are working on bringing augmented reality to life via a number of different form factors, including our longtime focus on smartphone AR through ARCore, and we have a number of teams across the company working on how we might use AR to help users. AR is a bit newer than YT so there’s less focus on metrics and more focus on product intuition. </p>

	<p class="body-text"> <h5 class="body-text"> How did you make the transition from software engineer to PM? </h5> </p>

	<p class="body-text"> Pure luck. I was in the Watson group at IBM back in 2014 as a software engineer, and everything we were building was first of a kind. That also meant as an engineer you weren’t just coding or working through system design, you were also talking to customers, partnering with sales/services, and leading engagements. That fast-paced environment, where I was called upon to switch between technical leadership and user-focused product development, is what opened the door. I had a chat with my manager at the time, and I am super grateful he trusted me enough to lead new product development. </p>

	<p class="body-text"> <h5 class="body-text"> What was the hardest part of switching functions, and what should I look out for if I plan to do the same? </h5> </p>

	<p class="body-text"> As a PM you help gather alignment on what the team is building and why it’s important for the business to invest in this team right now. You let the engineers tell you how long it will take to get there, and how they get it done. As a former software engineer, especially if you had a hand in building the product you now PM, your gut reaction will be to hop in on the how and the when. Avoid this at all costs. Even if an engineer is giving you a 2 week time estimate for something that you could put together in 2 days, even if you believe there’s an open-source framework that could get the job done better, do not wade into that water. </p>

	<p class="body-text"> <h5 class="body-text"> I’m ready to make a career transition to PM. What do you recommend? </h5> </p>

	<p class="body-text"> Try and switch one function at a time (i.e. don’t change industries and companies and roles all at the same time). If you can, have an open and honest conversation with your current manager and see how you can get on the product path from where you are now. Make sure to do your own research and make it easy on your manager -- present some options for rotations or teams that interest you and have them help you make a connection. </p>

	<p class="body-text"> If you can’t, buckle up and ship something on your own. That mental health, dieting, or music app you always thought about but didn’t take action on? Ship it! Learn how to code, hire some freelance devs, or make something simple with your hands. It doesn’t have to cost a lot of money, see: cards against humanity or Google cardboard. If all else fails, reach out to a startup or non-profit in your local area and offer your help. Ask for end to end ownership of a teeny tiny little project and ship it. </p>

	<p class="body-text"> Once you accrue some product experience, start looking around for the industry/vertical you want to move into. Good luck! </p>

	<p class="body-text"> <h5 class="body-text"> I’m an early career PM--what’s the best way to optimize for future success? </h5> </p>

	<p class="body-text"> Find high quality mentorship at your current company. A former VP I really respect once said to me that “PM is unique in that it is an apprenticeship.” You can read a few books on Python and be able to write your own libraries after you get a few projects under your belt. You could read a million books on product, but until you observe an incredible PM at work it’s extremely difficult to incorporate that mastery into your own practice. So find those opportunities to observe stellar PMs as often as you can, and don’t forget about your peers or even those earlier in their careers. PM is much more art than science, and inspiration comes from a million different places. </p>

	<p class="body-text"> <h5 class="body-text"> I’m still in school--what’s the best major or best area of study to optimize for a future in product? </h5> </p>

	<p class="body-text"> Worry less about what you study and more about whether or not you can successfully ship a product. Can you take a concept and turn it into a deliverable (app, hardware device, etc.) that you’re proud of? Even if only your mom and your best friend find it useful, success in any sort of product role is determined by your ability to build the right team and deliver a high quality “something” that solves a problem. So do that, over and over again, and let what you want to build guide what knowledge you accumulate. Naturally that knowledge will cluster into a major over 4 years time, and I'd strongly consider an undergraduate program that will give you flexibility in building your own major. </p>

	<p class="body-text"> FWIW, I majored in History and minored in Computer Science. Both were extraordinarily helpful to me -- CS is probably obvious, but History taught me to analyze, synthesize, and write in a way that ties together extremely complex and sometimes competing narratives. If you decide to become a PM, that will literally be your job. </p>

</div>

{% include footer.html %}