---
---

<!DOCTYPE html>

<title> About Ian </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include goog-analytics.html %}
{% include header.html %}

<!-- Custom stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/about.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">

<div class="embed-responsive embed-responsive-16by9 sketchfab-container">
	<div class="sketchfab-embed-wrapper">
		<iframe class="embed-responsive-item" src="https://sketchfab.com/models/b92398e1249e49aaa55cbcd845708bac/embed?preload=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

		<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
			<a href="https://sketchfab.com/models/b92398e1249e49aaa55cbcd845708bac?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Portfolio Logo</a>
			by <a href="https://sketchfab.com/ian.chen.zhang?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">ian.chen.zhang</a>
			on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
		</p>
	</div>
</div>

<div class="text-center m-3">
	<h1> Ian Zhang </h1>
	<p class="body-text"> 
		Hey, thanks for visiting! 
		I post all of my passion projects here, and they're mostly focused around product, engineering, and design.
		I also ramble about places I've been, all things XR, and breakfast sandwiches. If these things interest you too, let's connect! Check out my instagram, linkedin, or medium for more me. 
	</p>
	<br>
	<p>
		<a href="https://www.instagram.com/i.c.zhang/" target="_blank"> <i class="fa fa-instagram fa-4x black"></i> </a> &nbsp;&nbsp;&nbsp; 
		<a href="https://www.linkedin.com/in/ianchenzhang/" target="_blank"> <i class="fa fa-linkedin fa-4x black"></i> </a> &nbsp;&nbsp;&nbsp;
		<a href="https://www.medium.com/@iczhang" target="_blank"> <i class="fa fa-medium fa-4x black"></i> </a> 
	</p>
</div>

{% include footer.html %}