---

---

{% include blog-header.html %}

<div class="map-container">
	<div id="map"></div>
</div>

<div class="scroll-arrow">
	<a id="scroll" class="fa fa-angle-double-down fa-4x faa-bounce animated" href="#posts-section" style="color:black;"></a> <br><br>
</div>

<div class="post-container" id="posts-section">
	<div class="row">
		{% for post in site.posts offset:0 limit:8 %}
			{% if post.categories contains 'travel' %}
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="post-photo">
					<a href="{{ post.url }}"> <img src="../img/{{ post.title }}.jpeg" class="img-responsive"> </a>
					<div class="excerpt-container">
						<a href="{{ post.url }}"> {{ post.title }} </a> 
					</div>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

{% include blog-footer.html %}
