---
---

<!DOCTYPE html>

<title> AA Guilt </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include goog-analytics.html %}
{% include header.html %}

<div class="container-fluid text-center p-0">
	<img src="/" class="img-fluid hero"> </img>
</div>

<br>

<div class="text-center m-3">
	
	<h1> Asian American Guilt </h1>
	<h2> 2020 </h2>
	<h5> Calligraphy, Framed Printing, Deconstruction </h5> <br>
	<p class="body-text">  </p>

	<img src="/img/travel-architect/hand-model-1.png" class="img-fluid model-1"> </img>

	<!-- start separator -->
	<br><br><br>

	<hr class="style-eight">

	<br><br>
	<!-- end separator -->

	<h3> Product Framework </h3> <br>

	<p class="body-text"> The infinity loop (borrowed from my days @ IBM) envisions product development as a continuous improvement model. The end user is placed in the middle of a research and dev loop where each loop is validated with a series of playbacks, or user interviews. As the sole developer, I knew it was crucial that I avoid costly dev missteps likely to sink motivation. </p> <br>

</div>

{% include footer.html %}