---
---

<!DOCTYPE html>

<title> Ian's Corner </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include goog-analytics.html %}
{% include header.html %}

<!-- Custom style sheets -->
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/main.css"> 

<div class="jumbotron jumbotron-fluid mb-0">
	<div class="container">
		<h2 class="display-6 text-center"> Product | Engineering | Design </h2>
	</div>
</div>

<!-- 2 tile format for projects --> 
<div class="container-fluid">
	<div class="row grid">
		<div class="col-lg-6 col-md-6 col-sm-12 text-center p-0"> 
			<div class="container p-0">
				<a href="/travel-architect"> <img src="/img/home/app-logo.png" class="img-fluid image" alt="app-logo"> </a>
				<a href="/travel-architect">
					<div class="overlay">
						<p class="text"> iPhone App: Travel Architect </p> 
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 text-center p-0"> 
			<div class="container p-0">
				<a href="https://amzn.to/2xuAIl8" target="_blank"> <img src="/img/home/alexa-skill.png" class="img-fluid image" alt="space-needle-fog"> </a>
				<a href="https://amzn.to/2xuAIl8" target="_blank">
					<div class="overlay">
						<p class="text aerial"> Alexa Skill: Product Metrics </p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="row grid">
		<div class="col-lg-6 col-md-6 col-sm-12 text-center p-0"> 
			<div class="container p-0">
				<a href="/seattle-vr"> <img src="/img/home/seattle-vr.png" class="img-fluid image" alt="ecosystem"> </a>
				<a href="/seattle-vr">
					<div class="overlay">
						<p class="text"> Seattle VR Ecosystem </p> 
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 text-center p-0"> 
			<div class="container p-0">
				<a href="https://www.aerialpnw.com" target="_blank"> <img src="/img/home/hawaii-sunset.png" class="img-fluid image" alt="space-needle-fog"> </a>
				<a href="https://www.aerialpnw.com" target="_blank">
					<div class="overlay">
						<p class="text aerial"> Aerial PNW LLC: Media Company </p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>


{% include footer.html %}

<!-- Custom scripts -->
<script type="text/javascript" src="/js/home.js"></script>
