---
---

<!DOCTYPE html>

<title> Sanity </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include goog-analytics.html %}
{% include home-header.html %}


<div class="jumbotron jumbotron-fluid mb-0">
	<div class="container">
		<h2 class="display-6 text-center"> Product | Engineering | Design </h2>
	</div>
</div>

<!-- 2 tile format for projects --> 
<div class="container-fluid">
	<div class="row grid">
		<div class="col-lg-6 col-md-6 col-sm-12 text-center p-0"> 
			<div class="container p-0">
				<a href="/travel-architect"> <img src="/img/home/app-logo.png" class="img-fluid image" alt="app-logo"> </a>
				<a href="/travel-architect">
					<div class="overlay">
						<p class="text"> Travel Architect: iPhone App </p> 
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 text-center p-0"> 
			<div class="container p-0">
				<a href="https://www.aerialpnw.com" target="_blank"> <img src="/img/home/hawaii-sunset.png" class="img-fluid image" alt="space-needle-fog"> </a>
				<a href="https://www.aerialpnw.com" target="_blank">
					<div class="overlay">
						<p class="text aerial"> Aerial PNW LLC: Media Company </p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>


{% include footer.html %}
{% include home-footer.html %}