---
---

<!DOCTYPE html>

<title> Ian's Corner </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include goog-analytics.html %}
{% include header.html %}

<!-- Custom style sheets -->
<link rel="stylesheet" type="text/css" href="/css/main.css"> 
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/footer.css">

<!-- 2 tile format for projects --> 
<div class="container-fluid">
	<div class="row grid">
		<div class="col-lg-6 col-md-6 col-sm-12 text-center p-0"> 
			<div class="container p-0">
				<a href="/tech-nostalgia"> <img src="/img/home/calligraphy.jpg" class="img-fluid image" alt="app-logo"> </a>
				<a href="/tech-nostalgia">
					<div class="overlay">
						<p class="text"> Tech Nostalgia </p> 
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 text-center p-0"> 
			<div class="container p-0">
				<a href="/"> <img src="/img/home/seattle-sphere.jpg" class="img-fluid image" alt="app-logo"> </a>
				<a href="/">
					<div class="overlay">
						<p class="text"> Family History </p> 
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 text-center p-0"> 
			<div class="container p-0">
				<a href="/travel-architect"> <img src="/img/home/app-logo.png" class="img-fluid image" alt="app-logo"> </a>
				<a href="/travel-architect">
					<div class="overlay">
						<p class="text"> Travel Architect </p> 
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 text-center p-0"> 
			<div class="container p-0">
				<a href="https://amzn.to/2xuAIl8" target="_blank"> <img src="/img/home/alexa-skill.png" class="img-fluid image" alt="space-needle-fog"> </a>
				<a href="https://amzn.to/2xuAIl8" target="_blank">
					<div class="overlay">
						<p class="text"> Product Metrics </p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 text-center p-0"> 
			<div class="container p-0">
				<a href="/seattle-vr"> <img src="/img/home/space-needle-fog.jpeg" class="img-fluid image" alt="ecosystem"> </a>
				<a href="/seattle-vr">
					<div class="overlay">
						<p class="text"> Seattle VR </p> 
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 text-center p-0"> 
			<div class="container p-0">
				<a href="https://www.aerialpnw.com" target="_blank"> <img src="/img/home/hawaii-sunset.jpeg" class="img-fluid image" alt="space-needle-fog"> </a>
				<a href="https://www.aerialpnw.com" target="_blank">
					<div class="overlay">
						<p class="text"> Aerial PNW </p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

{% include footer.html %}