---
---

<!DOCTYPE html>

<title> Travel Architect </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include goog-analytics.html %}
{% include header.html %}

<link rel="stylesheet" type="text/css" href="/css/travel-architect.css">

<div class="container-fluid text-center p-0">
	<img src="/img/travel-architect/cherry-blossoms.png" class="img-fluid hero"> </img>
</div>

<br>

<div class="text-center m-3">
	<h1> <a href="https://itunes.apple.com/us/app/travel-architect/id1404469459?ls=1&mt=8" target="_blank"> Travel Architect </a> </h1>
	<h2> 2018 </h2>
	<h5> Adobe XD, Swift, ARKit, XCode, Blender, SketchFab </h5> <br>
	<p class="body-text"> One of my favorite activities while traveling is going on a local walking tour, mostly because I get the chance to check out the architecture through the eyes of a local. One of the pain points I always had, however, was that I would spot an interesting construction that wasn't a part of the tour, and I would never get the opportunity to learn more about it. Great design, lost to the ether! After commiserating with fellow travelers who had passing interests in architecture, I thought I'd try and alleviate the problem. </p>

	<img src="/img/travel-architect/hand-model-1.png" class="img-fluid model-1"> </img>

	<!-- start separator -->
	<br><br><br>

	<hr class="style-eight">

	<br><br>
	<!-- end separator -->

	<h3> Product Framework </h3> <br>

	<p class="body-text"> The infinity loop (borrowed from my days @ IBM) envisions product development as a continuous improvement model. The end user is placed in the middle of a research and dev loop where each loop is validated with a series of playbacks, or user interviews. As the sole developer, I knew it was crucial that I avoid costly dev missteps likely to sink motivation. </p> <br>

	<img src="/img/travel-architect/product-framework.png" class="img-fluid framework">  </img>

	<!-- start separator -->
	<br><br><br>

	<hr class="style-eight">

	<br><br>
	<!-- end separator -->

	<img src="/img/travel-architect/research-logo.png" class="img-fluid mb-2"> Personas </img> <br><br><br>

	<p class="body-text"> I formalized my conversations with other travelers into high level personas. These could have used a much more rigorous interview process, as well as other methodologies, but observational would have been pretty creepy and literature/ESM is non-existent. I'll note up front these were mostly sourced from my personal contacts, so obvious demographic biases are present. </p> <br>

	<img src="/img/travel-architect/abroad-annie.png" class="img-fluid m-2"></img> 
	<div class="d-flex justify-content-center">
		<ul class="list-group">
			<li class="list-group-item background-color"> Living her best millenial life </li>
			<li class="list-group-item background-color"> Saves up to travel as much as possible </li>
			<li class="list-group-item background-color"> Wants to learn as much as possible about the places she travels to </li>
			<li class="list-group-item background-color"> <strong> Key Pain Point:</strong> Guided tours are expensive. </li>
		</ul>
	</div>	
	<img src="/img/travel-architect/business-bobby.png" class="img-fluid m-2"></img>
	<div class="d-flex justify-content-center">
		<ul class="list-group">
			<li class="list-group-item background-color"> Travels frequently for work </li>
			<li class="list-group-item background-color"> Enjoys taking in the local sights after meetings </li>
			<li class="list-group-item background-color"> Took an architecture 101 class in college </li>
			<li class="list-group-item background-color"> <strong> Key Pain Point:</strong> Not enough time. </li>
		</ul>
	</div>	
	<img src="/img/travel-architect/cultured-cranston.png" class="img-fluid m-2"></img>
	<div class="d-flex justify-content-center">
		<ul class="list-group">
			<li class="list-group-item background-color"> Retired 1% er </li>
			<li class="list-group-item background-color"> Speaks fondly of the "South of France" </li>
			<li class="list-group-item background-color"> Hired an architect to customize their summer home </li>
			<li class="list-group-item background-color"> <strong> Key Pain Point:</strong> None. </li>
		</ul>
	</div>	

	<!-- start separator -->
	<br><br><br>

	<hr class="style-eight">

	<br><br>
	<!-- end separator -->

	<img src="/img/travel-architect/user-logo.png" class="img-fluid mb-2"> Pain Point Validation </img> <br><br><br>

	<p class="body-text"> Pain points differed across business and leisure travelers, with business users bemoaning the lack of time. They would be in on a Tuesday and out on a Thursday, passing by interesting buildings on the street with no time to learn more about them. Leisure travelers loved guided tours on architecture but also found them expensive and increasingly outcompeted by travel bloggers or free <a href="https://bit.ly/2tmYUoY">self-guided tours</a>. Interestingly enough, our Cultured Cranstons were truly living the dream with narry a worry. <a href="https://www.architecturaladventures.org/"> Expensive travel packages</a> with reknowned architects as guides provided a full range of services. Costs were not a serious concern; the tour company traveled in groups of 20-25 so the social component was present; time was booked and planned well in advance; the personal, expert touch was there as well.</p>

	<!-- start separator -->
	<br><br><br>

	<hr class="style-eight">

	<br><br>
	<!-- end separator -->

	<img src="/img/travel-architect/research-logo.png" class="img-fluid mb-2"> Market and Competition </img> <br><br>

	<p class="body-text"> Validating the market for each of these personas and pain points was a fun exercise, especially since this was a passion project with no plans for monetization. The standard market analysis (TAM -> SAM -> Competitive Landscape -> Segmentation -> Strategic Differentiation -> GTM) seemed slightly overkill, but I did end up putting some boundaries around each of those areas. Ultimately the insight around unit spend and mobile user behavior helped crystallize a GTM direction, so I dive deep on these below. </p> <br>

	<img src="/img/travel-architect/mobile-behavior-segment-2.png" class="img-fluid framework m-1"></img> <br><br>

	<div class="d-flex justify-content-center">
		<ul class="list-group">
			<li class="list-group-item background-color"> Travel applications are increasingly mobile-first </li>
			<li class="list-group-item background-color"> Of all mobile apps, travel-related ones have the best 3-month retention </li>
			<li class="list-group-item background-color"> Mobile penetration is extremely high among travelers </li>
			<li class="list-group-item background-color"> Most users spend 85% of their time in 5 existing mobile apps </li>
		</ul>
	</div> <br><br>

	<img src="/img/travel-architect/unit-spend.png" class="img-fluid framework m-1"></img> <br><br>

	<div class="d-flex justify-content-center">
		<ul class="list-group">
			<li class="list-group-item background-color"> DiY apps are increasingly popular and require large-scale up front curation </li>
			<li class="list-group-item background-color"> The average architecture guided tour lasts approximately 3 hours </li>
			<li class="list-group-item background-color"> Revenue/install averages less than a dollar while acquisition cost across mobile platforms is roughly 3$/customer </li>
		</ul>
	</div> <br><br>

	<p class="body-text"> Combining persona, market, and competitive insight led to the following high level features: </p> <br>

	<table class="table m-2">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Feature</th>
				<th scope="col">Priority</th>
				<th scope="col">Insight or Pain Point</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td> Native iOS app </td>
				<td> p1 </td>
				<td> Mobile device penetration for travelers (customer acquisition) </td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td> Take photo of building using built-in camera </td>
				<td> p1 </td>
				<td> Alleviates customer pain point of missed opportunities to learn more about a building </td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td> Classify building features </td>
				<td> p1 </td>
				<td> Alleviates customer pain point of missed opportunities to learn more about a building </td>
			</tr>
			<tr>
				<th scope="row">4</th>
				<td> Info on architect </td>
				<td> p1 </td>
				<td> Differentiation: replaces "SME" knowledge found in paid options </td>
			</tr>
			<tr>
				<th scope="row">5</th>
				<td> Location-based push notification based on buildings in vicinity </td>
				<td> p2 </td>
				<td> Differentiation: personalization of content as value add over existing products </td>
			</tr>
			<tr>
				<th scope="row">6</th>
				<td> Model features in 3D with digital architect </td>
				<td> p2 </td>
				<td> Differentiation: replaces "guided tour" aspect found in paid options </td>
			</tr>
			<tr>
				<th scope="row">7</th>
				<td> Native Android app </td>
				<td> p2 </td>
				<td> Mobile device penetration for travelers (customer acquisition) </td>
			</tr>
			<tr>
				<th scope="row">8</th>
				<td> Historical context for architectural style </td>
				<td> p2 </td>
				<td> Differentiation: replaces "SME" knowledge found in paid options </td>
			</tr>
			<tr>
				<th scope="row">9</th>
				<td> Save and share previously classified buildings </td>
				<td> p3 </td>
				<td> Social network boosts stickiness and alleviates customer pain <br> point of not having enough time to learn more about these buildings </td>
			</tr>
			<tr>
				<th scope="row">10</th>
				<td> Offline mode </td>
				<td> p3 </td>
				<td> Differentiation: accessible anywhere the user is located </td>
			</tr>
		</tbody>
	</table>

	<br><br>

	<p class="body-text"> The initial cut of features was the ideal experience (the dev side of me was already cringing) and directly addressed pain points across Abigail and Bobby personas, as well as captured some of the mobile behavior insight gained via research. From a competitive standpoint, these features mostly sought to replicate the guided tour value prop while remaining free to the end user. From a GTM standpoint, I was pretty firm on an iOS-only rollout due to CAC, dev experience, and potential trademark/IP issues (and prioritized accordingly). </p>

	<!-- start separator -->
	<br><br><br>

	<hr class="style-eight">

	<br><br>
	<!-- end separator -->

	<img src="/img/travel-architect/user-logo.png" class="img-fluid mb-2"> Scope Validation </img> <br><br><br>

	<p class="body-text"> With a healthy set of features it was time to make cuts for MVP; I normally do this by presenting the ideal experience via wires and have the devs spike out and iterate from there. Since I was wearing both hats this time around, I just shortened this to one loop and went from ideal experience to pixel perfect on the MVP. </p> <br>

	<label> Ideal </label><img src="/img/travel-architect/userflow.png" class="img-fluid framework m-1"></img> <br><br>

	<label> MVP </label><img src="/img/travel-architect/userflow-2.png" class="img-fluid framework m-1"></img> <br><br>

	<p class="body-text"> Of the tradeoffs I had to make, I relied mostly on effort v. value. For instance I assumed heading into the project that publically available datasets on pre-modern architecture were of high quality. Once I actually dived deep into those DBs I quickly realized the level of curation was nowhere near robust enough. I also had to strike probably the biggest value add from a product perspective--surface detection and object recognition on the buildings themselves. Turns out the literature indicates only a .6 F1 score on a <a href="https://bit.ly/2vOiNV5"> custom classifier</a> trained against building facades. While I would have loved to have invested 5 months on a custom CV project, I was unfortunately stuck with choosing open source models across existing enterprise companies. </p>

	<p class="body-text"> Ultimately, Microsoft's GUI for custom training won the day. They also have the ability to package the runtime into a 2.9 MB executable that was essentially a drag-and-click over to XCode for iOS development. </p>

	<p class="body-text"> The last major feature I decided to cut was the sharing feature. While great for building stickiness, it required me to break the seal of localization. I would also have had to host the user profiles and metadata, something I'm fundamentally averse to from a privacy perspective. </p>

	<p class="body-text"> So I played back the MVP userflow to a few friends and resoundingly the conclusion was: "this is cool, but I probably wouldn't pay for it." Given the lukewarm response, I decided to shift the GTM OKR I planned to track from acquisition to retention. I figured if I couldn't deliver the killer app I could at least deliver one that kept people around longer than average. Dreams of a groundbreaking travel app: finished. </p>

	<p class="body-text"> Oh well, there's always v2! </p>

	<!-- start separator -->
	<br><br><br>

	<hr class="style-eight">

	<br><br>
	<!-- end separator -->

	<img src="/img/travel-architect/develop-logo.png" class="img-fluid mb-2"> Onramp and First Cut </img> <br><br><br>

	<p class="body-text"> My last legit iOS project was a few years old, so I came limping back into XCode and validated the architecture in the meantime. </p>

	<img src="/img/travel-architect/architecture.png" class="img-fluid framework m-1"></img> <br><br>

	<p class="body-text"> Development ended up being less onerous than I thought--after brushing up on XCode basics I was prototype ready in about 3 weeks. After the MVP cuts I ended up scratching the left hand side of the architecture doc, and I found open source code everywhere for both the CameraViewController and the ARViewController.</p>

	<!-- start separator -->
	<br><br><br>

	<hr class="style-eight">

	<br><br>
	<!-- end separator -->

	<img src="/img/travel-architect/user-logo.png" class="img-fluid mb-2"> Playing it back </img> <br><br><br>

	<p class="body-text"> A ton of insight came out of this playback cycle with my travel users, mostly because the last time they had seen this it was in Adobe XD wires, which never seems to command the user's focus like physically navigating the application does. The feedback was loosely collected into three buckets: </p> <br><br>

	<img src="/img/travel-architect/playback-2-feedback.png" class="img-fluid framework m-1"></img> <br><br><br>

	<p class="body-text"> The classification piece was the biggest and the obvious impairment to this being a killer app. I had already accepted I wasn't going to write a custom building facade classifier though from an effort perspective. Nor did existing databases support curating individual buildings. The second and third pieces were more interesting. Folks spent on average 45 seconds before successfully getting to insight in the second page. I knew this would be devastating in a real-life scenario and likely lead to poor retention. And since I had removed a user login, it seemed users were expecting some sort of splash screen or home page. </p>

	<!-- start separator -->
	<br><br><br>

	<hr class="style-eight">

	<br><br>
	<!-- end separator -->

	<img src="/img/travel-architect/develop-logo.png" class="img-fluid mb-2"> The "Architect" Problem </img> <br><br><br>

	<p class="body-text"> Placing the 3D model of a representative building and learning more about its distinguishing features was a key facet to learning more about architectural styles. Knowing users were having problems reaching insight meant I needed to introduce info quicker. However, now the issue was how to deliver a good chunk of info. I briefly considered having a 3D architect person in the background with a speech bubble and/or audio, but quickly discarded that due to accessibility issues. Next I considered placing 2D text on the model itself, which turned out to be quite a rabbit hole. </p>

	<p class="body-text"> To get large, text-based chunks of info across to the user in ARKit there are essentially 3 options: layering 2D text on 3D objects, layering 2D text on a separate plane within the environment, or creating 3D text directly. </p> <br><br>

	<div class="embed-responsive embed-responsive-16by9 sketchfab-container">
		<div class="sketchfab-embed-wrapper"><iframe src="https://sketchfab.com/models/48b346ea6c3b47958faf1dd61e4007b1/embed?preload=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

			<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
				<a href="https://sketchfab.com/models/48b346ea6c3b47958faf1dd61e4007b1?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Text examples</a>
				by <a href="https://sketchfab.com/ian.chen.zhang?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">ian.chen.zhang</a>
				on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
			</p>
		</div>
	</div>

	<br><br> <p class="body-text"> In the model above, this would be the difference between having the text on the plane behind on the model, on the model itself, or just regular old 3D text in the environment. </p> 

	<p class="body-text"> I tried the embedded method initially, but I encountered two issues. One, the user's eyes would track immediately to the plane and start reading instead of viewing the model. Two, it turns out I could distill the amount of text needed to just a few words per model. </p> 

	<p class="body-text"> Plane-based text was also eliminated because it needed the following code: </p>

	<div class="body-text">
		<code> 
			let plane = SCNPlane(width: 20, height: 20) <br>
			let material = SCNMaterial() <br>
			material.isDoubleSided = true <br>
			material.diffuse.contents = skScene <br>
			plane.materials = [material] <br>
			let node = SCNNode(geometry: plane) <br>
			scene.rootNode.addChildNode(node) <br>
		</code> 
	</div> <br>

	<p class="body-text"> This would require generating tuples of the model and the plane itself, with corresponding anchors. The hit testing in ARKit is pretty robust, but roughly 1 in 10 times, especially in low light scenarios, I'd find the anchors collapsing and the models skating off into high heaven or other strange behavior. It presented enough that I decided to scrap it as well. </p> 

	<p class="body-text"> The final piece of dev action was creating a splash screen on "first download" to guide the user. </p> 

	<!-- start separator -->
	<br><br><br>

	<hr class="style-eight">

	<br><br>
	<!-- end separator -->

	<img src="/img/travel-architect/user-logo.png" class="img-fluid mb-2"> Final playback and GTM </img> <br><br><br>

	<p class="body-text"> I had my travel-user-friends in <a href="https://developer.apple.com/testflight/"> TestFlight</a> for the final set of playbacks. Nothing crazy came out of this as the functionality didn't change significantly from the last session. Last thing I tweaked was the intro screen that helped people with the navigation. I turned it from text-based into logo-based. Then, it was launch day!</p>

	<!-- start separator -->
	<br><br><br>

	<hr class="style-eight">

	<br><br>
	<!-- end separator -->

	<h3> GTM and Analytics </h3> <br>

	<p class="body-text"> Apple really has new app release down to a science. Turnaround time was under 48 hours from cutting the release branch to going live on the store, and they provide a really robust set of analytics from day one. </p> <br>

	<img src="/img/travel-architect/app-analytics-overview.png" class="img-fluid framework m-1"></img> <br><br>

	<p class="body-text"> From an OKR perspective, at roughly 1.5 months, there's lots to experiment with! </p>

	<p class="body-text"> Conversion when tracked against product page views (when someone clicks on the actual app) is 20% (500 page views -> 100 downloads). But conversion tracked against impressions (when the app comes up in a search) is less than 6%. So Apple's built-in marketing tools could be an option near the next release cycle. </p>

	<p class="body-text"> Retention is a different beast entirely as there's not enough data to calculate drop off. From the DAU number (2-5% of total installs) I'll likely struggle with the same severe dropoff as most other mobile apps. I'll check back in around the 3 month mark once the numbers are up. </p> <br>

	<img src="/img/travel-architect/DAU.png" class="img-fluid framework m-1"></img> <br><br>

	<p class="body-text"> <strong> Conclusion:</strong> okay-ish first attempt with levers yet to pull on conversion. The key will be delivering v2 with an updated CV model that can detect individual features. </p> <br>

</div>

{% include footer.html %}