---
---

{% include vr-header.html %}

<div class="container">

    <!-- Page header -->
    <div class="page-header">
        <h2> Musings <small> on <code> XR </code></small></h2>
    </div>
    <!-- /Page header -->

    <!-- Timeline -->
    <div class="timeline">
    
        <!-- Line component -->
        <div class="line text-muted"></div>

        {% for post in site.posts %}
          {% if post.categories contains 'vr' %}
    
          <!-- Panel -->
          <article class="panel panel-default">
      
              <!-- Icon -->
              <div class="panel-heading icon">
                  <i class="glyphicon glyphicon-hourglass"></i>
              </div>
              <!-- /Icon -->
      
              <!-- Heading -->
              <div class="panel-heading">
                  <h2 class="panel-title">{{ post.title }}</h2>
              </div>
              <!-- /Heading -->
      
              <!-- Body -->
              <div class="panel-body">
                  {{ post.content }}
              </div>
              <!-- /Body -->
      
              <!-- Footer -->
              <div class="panel-footer">
                  <small> {{ post.date | date: '%B %d, %Y' }} </small>
              </div>
              <!-- /Footer -->
      
          </article>
          <!-- /Panel -->

         {% endif %}
    {% endfor %}
    
    </div>
    <!-- /Timeline -->

</div>
</div>