---
---

<!DOCTYPE html>

<title>Extended Reality</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include header.html %}

<link rel="stylesheet" type="text/css" href="/css/vr.css">

<hr/><br>

<section class="custom-card">
    
    {% for post in site.posts %}
    {% if post.categories contains 'vr' %}

    <div class="card--content">
        <div class="card-header">{{ post.date | date: '%B %d, %Y' }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.excerpt }}</p>
        </div>
    </div>

    {% endif %}
    {% endfor %}

</section>

{% include footer.html %}