<!-- Footer -->
<footer class="footer text-center">
	<span> &copy; 2018 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Ian Zhang</span> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
	<a href="https://www.instagram.com/i.c.zhang/" target="_blank"> <i class="fa fa-instagram"></i> </a> &nbsp;
	<a href="https://www.linkedin.com/in/ianchenzhang/" target="_blank"> <i class="fa fa-linkedin"></i> </a> &nbsp;
	<a href="https://www.medium.com/@iczhang" target="_blank"> <i class="fa fa-medium"></i> </a> 
</footer>

<!-- Bootstrap requires jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Plotly -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>